- name: "Determine CPU type (Intel/AMD), and set 'cpu_type' play fact"
  ansible.builtin.set_fact:
    cpu_type: "{{ 'amd' if amd_cpu|length > 0 else 'intel' if intel_cpu|length > 0 else 'unknown' }}"
  vars:
    intel_cpu: "{{ ansible_processor | select('match', 'Intel') | list }}"
    amd_cpu: "{{ ansible_processor | select('match', 'AMD') | list }}"

- name: "Abort role if CPU type not determined to be Intel or AMD"
  ansible.builtin.fail:
    msg: "CPU type not recognized as Intel or AMD"
  when: cpu_type == 'unknown'

- name: "{{ pkg_status }} 'devcpu-data' CPU microcode updates package"
  # Note: since FreeBSD 14.1, cpu-microcode pkg replaced devcpu-data pkg
  ansible.builtin.package:
    name: 'cpu-microcode'
    state: "{{ 'present' if loader_load_cpu_microcode_updates else 'absent' }}"
  vars:
    pkg_status: "{{ 'Install' if loader_load_cpu_microcode_updates else 'Remove' }}"
  become: true
  become_user: root

- name: "{{ val_status }} cpu-microcode type of '{{ cpu_type }}' in {{ loader_conf_path }}"
  # see https://forum.opnsense.org/index.php?topic=36139.0
  community.general.sysrc:
    path: "{{ loader_conf_path }}"
    name: "cpu_microcode_name"
    value: "/boot/firmware/{{ cpu_type }}-ucode.bin"
    state: "{{ 'present' if loader_load_cpu_microcode_updates else 'absent' }}"
  vars:
    val_status: "{{ 'Set' if loader_load_cpu_microcode_updates else 'Unset' }}"
  become: true
  become_user: root

- name: "{{ val_status }} early-stage cpu-microcode loading (Intel) in {{ loader_conf_path }}"
  # see https://forum.opnsense.org/index.php?topic=36139.0
  community.general.sysrc:
    path: "{{ loader_conf_path }}"
    name: "cpu_microcode_load"
    value: "YES"
    state: "{{ 'present' if loader_load_cpu_microcode_updates else 'absent' }}"
  vars:
    val_status: "{{ 'Set' if loader_load_cpu_microcode_updates else 'Unset' }}"
  become: true
  become_user: root

- name: "{{ val_status }} late-stage cpu-microcode loading (AMD) in {{ loader_rc_conf_filepath }}"
  # see https://forum.opnsense.org/index.php?topic=36139.0
  community.general.sysrc:
    path: "{{ loader_rc_conf_filepath }}"
    name: "microcode_update_enable"
    value: "YES"
    state: "{{ 'present' if loader_load_cpu_microcode_updates else 'absent' }}"
  vars:
    val_status: "{{ 'Set' if loader_load_cpu_microcode_updates else 'Unset' }}"
  become: true
  become_user: root

