- name: "Configure cpu-microcode type of '{{ loader_cpu_type }}' in '{{ loader_conf_path }}'"
  # see https://forum.opnsense.org/index.php?topic=36139.0
  ansible.builtin.lineinfile:
    path: "{{ loader_conf_path }}"
    regexp: "^{{ setting.nm }}="
    line: "{{ setting.nm }}={{ setting.val }}"
    state: "{{ 'present' if setting.st else 'absent' }}"
  loop:
    - { nm: "cpu_microcode_name", st: "{{ loader_load_cpu_microcode_updates }}",
        val: "/boot/firmware/{{ loader_cpu_type }}-ucode.bin" }
  loop_control:
    loop_var: setting
  register: loader_conf_results
  become: true
  become_user: root

- name: "Configure cpu-microcode load-stage settings in '{{ loader_rc_conf_filepath }}'"
  # see https://forum.opnsense.org/index.php?topic=36139.0
  community.general.sysrc:
    path: "{{ loader_rc_conf_filepath }}"
    name: "microcode_update_enable"
    # value: "{{ setting.val }}"
    # value: "NO"
    # state: "{{ 'present' if setting.st else 'absent' }}"
    state: "absent"
  # loop:
  #   # Note: early-stage loading
  #   - { nm: "cpu_microcode_load", st: "{{ loader_load_cpu_microcode_updates and (loader_cpu_type == 'intel') }}",
  #       val: "{{ 'YES' if loader_load_cpu_microcode_updates else 'NO' }}" }
  #   # Note: late-stage loading
  #   - { nm: "microcode_update_enable", st: "{{ loader_load_cpu_microcode_updates and (loader_cpu_type == 'amd') }}",
  #       val: "{{ 'YES' if loader_load_cpu_microcode_updates else 'NO' }}" }
  # loop_control:
  #   loop_var: setting
  register: rc_conf_results
  become: true
  become_user: root

- name: "A config file changed, so set 'loader_requests_reboot' to 'true'"
  ansible.builtin.set_fact:
    loader_requests_reboot: true
  when: (loader_conf_results.changed or rc_conf_results.changed)

