- name: "{{ pkg_status }} 'devcpu-data' CPU microcode updates package"
  # Note: since FreeBSD 14.1, cpu-microcode pkg replaced devcpu-data pkg
  ansible.builtin.package:
    name: 'cpu-microcode'
    state: "{{ 'present' if loader_load_cpu_microcode_updates else 'absent' }}"
  vars:
    pkg_status: "{{ 'Install' if loader_load_cpu_microcode_updates else 'Remove' }}"
  become: true
  become_user: root

