- name: "Configure loader options"
  ansible.builtin.include_tasks: config_options.yml

- name: "Configure loading of CPU microcode updates at boot"
  ansible.builtin.include_tasks: config_cpu_ucode.yml

