- name: "Configure loader boot options"
  ansible.builtin.include_tasks: boot_options.yml

- name: "Determine CPU type"
  ansible.builtin.include_tasks: cpu_type.yml

- name: "Install or remove CPU microcode packages"
  ansible.builtin.include_tasks: cpu_ucode_pkgs.yml

- name: "Configure CPU microcode settings"
  ansible.builtin.include_tasks: cpu_ucode_settings.yml

